body{
  background-color: #220001;  
  color: #EEE8AA;
}
div {
  /*border: 1px solid black;*/
  font-variant: small-caps;
}

#top {
  text-align: right;  
  padding: 20px 75px 100px 0;
}

#top h1 {
  font-size: 75px;
  margin: 10px 10px 10px 10px;
}

#top h2 {
  font-size: 45px;
  font-variant: small-caps;
  margin: 10px 10px 10px 10px;
  color: white;
}

#navbar {
  font-size: 20px;
}


#navbar ul {
  list-style: none;
}

#navbar li {
  margin-left: 10%;
  font-size: 23px;
  display: inline;
}

#navbar a {
  text-decoration: none;
  color: #EEE8AA;
}

#content {
  color: black;
  background-color: #B0B0B0;
  border-radius: 15px;
  width: 750px;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 50px;
  
}