@media screen {

	body{
	  min-width: 1250px;
	  min-height: 700px;
	  height: 700px;
	  background-color: #B0B0B0;/*#220001;*/
	  background-image:url(../back.png);
	  background-size: 100% 100%;
	  background-repeat:no-repeat;
	  color: #220001;
	}
	div {
	  /*border: 1px solid black;*/
	  font-variant: small-caps;
	}

	#top {
	  text-align: right;  
	  padding: 20px 75px 25px 0;
	}

	#top h1 {
	  font-size: 60px;
	  margin: 10px 10px 10px 10px;
	}

	#top h2 {
	  font-size: 38px;
	  font-variant: small-caps;
	  margin: 10px 10px 10px 10px;
	  color: #220001;
	}

	#navbar {
	  margin-top: 65px;
	  font-size: 28px;
	}

	#navbar ul {
	  list-style: none;
	  padding-left: 13%;
	  padding-right: 5%;
	}

	#navbar li {
	  margin-left: 4%;
	  margin-right: 4%;
	  display: inline;
	}



	a {
	  text-decoration: none;
	  color: #220001;
	}

	#content {
	  color: black;
	  background-color: #878787;
	  border-radius: 15px;
	  width: 55%;
	  height: 25%;
	  padding: 10px;
	  margin: 0px auto;
	  margin-left: 33%;
	  margin-bottom: 6%;
	  padding-top: 3%;
  
	}
	#content h2 {
	  text-align: center;
	  margin-right: 15%;
	  margin-bottom: 4%;
	}
	
	#content h3 {
	  margin-right: 5%;
	  font-size: 105%;
	  margin-top: -1.5%;
	}
	
	#content h4 {
	  margin: 0%;
	  margin-top: -2%;
	  font-size: 20px;
	}
	
	#content a {
	  margin-left: 5%;
	  width: 25%;
	  float: left;
	  text-decoration: underline;
	}
	
	#content p {
	  margin: 0px;
	  width: 36%;
	  float: right;
	}
	
	#content table {
	  margin-top: -1%;
	}
	
	#content th {
	  font-size: 101%;
	  font-variant: small-caps
	}
	
	#content td {
	  padding-left: 10%;
	  width: 25%;
	  font-variant: small-caps
	}
	
	
	.example-right {
      position:relative;
      padding:36px 67px;
      color:#fff;
      background:#8B4513; /* default background for browsers without gradient support */
      /* css3 */
      background:-webkit-gradient(linear, 0 -35%, 0 70%, from(#8B4513), to(#230C14));
      background:-moz-linear-gradient(#8B4513, #230C14);
      background:-o-linear-gradient(#8B4513, #230C14);
      background:linear-gradient(#8B4513, #230C14);
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius: 50% / 50%;
      float: left;
      margin-left: 7%;
      width: 23%;
  }
  


  /* display of quote author (alternatively use a class on the element following the blockquote) */
  .example-right + p {margin:15px 0 2em 85px; font-style:italic;}

  /* creates the triangle */
  .example-right:after {
      content:"";
      position:absolute;
      bottom:-6px;
      left:14%;
      border-width:0 20px 50px 0px;
      border-style:solid;
      border-color:transparent #230C14;
      /* reduce the damage in FF3.0 */
      display:block; 
      width:0;
  }
  
  #side {
    margin-right: 23%;
    height: 25%;
    width: 13%;
    position: relative;
    float: right;
    background-color: #878787;
    border-radius: 15px;
    padding: 1%;
    padding-top: 0%;
    font-size: 104%;
  }
  iframe{
    float: left;
    margin-top: -1%;
    margin-left: 17%;
    width: 44%;
    height: 40%;
    padding-right: 1%;
  }
  
}

@media screen and (max-width: 1000px) {
  body{
    background-image: none;
  }